<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId() + ' ' + user.getUsername() + ' ' + user.getLastname() + ' ' + user.getAge()}">VALUE</p>

<form th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
    <button>Edit</button>
</form><form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a th:href="@{/auth/logout}" th:text="Logout">VAlUE</a>
</body>
</html>